.HireMeDiv {
    height: 100vh;
    position: absolute;
}

#container1 {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container2 {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-right: 20px;
}

.TitleBlock {
    background-color: gold;
    position: relative;
    border: 3px solid goldenrod;
    width: 90%;
    left: 5%;
    top: 1%;
}

.NameCard {
    background-color: #222222ff;
    background-image: url("./Images/BG/Bg_Name.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    min-height: 10px;
}
    .NameCard p {
        color: white;
        font-size: 50px;
        font-weight: 700;
        position: relative;
        left: 1%;
    }

#NameCard {
    width: 100%;
}

#NameCard_Title {
    max-width: 50%;
    float: left;
    color: aqua;
    font-weight: 700;
    margin-top: -4%;
}

.Info_NameCard {
    top: 20px;
    background-color: #222222ff;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 10px;
    height: 100px;
    position: relative;
    margin-bottom: 0px;
}
    .Info_NameCard p {
        color: white;
        font-size: 50px;
        font-weight: 700;
        left: 5%;
        position: relative;
    }


.BlurbTitle_2 {
    position: relative;
    width: 90%;
}

.BlurbText_2 {
    position: relative;
    margin-top: 0px;
    width: 150%;
}

.BlurbTitle_3 {
    position: relative;
    margin-top: -1000px;
    left: 10px;
    width: 90%;
}

.BlurbText_3 {
    position: relative;
    margin-top: 100px;
    left: 10px;
    width: 90%;
}


.Fullstack_Block_3 {
    float: left;
    width: 100%;
    min-height: 100vh;
    background-color: darkgreen;
    position: relative;
    background-image: url("./Images/BG/Web/Bg_Web.png");
    overflow-x: hidden;
}
.Combo_Block_3 {
    float: left;
    width: 100%;
    min-height: 100vh;
    background-color: teal;
    position: relative;
    right: 30%;
    background-image: url("./Images/BG/Bg_Combo3.png");
}
.Unity_Block_3 {
    float: left;
    width: 100%;
    min-height: 100vh;
    background-color: blue;
    position: relative;
    right: 40%;
    background-image: url("./Images/BG/Games/Bg_Games.png");
}

.Fullstack_Block_2 {
    float: left;
    width: 100%;
    min-height: 100vh;
    background-color: darkgreen;
    position: relative;
    background-image: url("./Images/BG/Web/Bg_Web.png");
    overflow-x: hidden;
}
.Unity_Block_2 {
    float: left;
    width: 100%;
    min-height: 100vh;
    background-color: blue;
    position: relative;
    right: 50%;
    background-image: url("./Images/BG/Games/Bg_Games.png");
}

.Unity_Col {
    float: left;
    width: 30%;
    position: relative;
    left: 70%;
    color: deepskyblue;
}
    .Unity_Col p,
    .Unity_Col h1 {
        color: deepskyblue;
    }

.Combo_Col {
    float: left;
    width: 40%;
    position: relative;
    left: 70%;
}
    .Combo_Col p,
    .Combo_Col h1 {
        color: aqua;
    }

.Fullstack_Col {
    float: left;
    width: 30%;
    position: relative;
    left: 70%;
}
    .Fullstack_Col p,
    .Fullstack_Col h1 {
        color: lightgreen;
    }


.Blurb {
    padding-left: 5%;
    padding: 10px;
}
.Blurb p {
    background-color: black;
    border: 5px solid rgb(30,30,30);
    border-radius: 10px;
    padding: 5px;
}
.Blurb h1 {
    margin-top: 30%;
    background-color: black;
    border: 5px solid rgb(30,30,30);
    padding: 5px;
    border-radius: 10px;
}