.HireMeDiv{
    overflow: hidden;
}

.TitleBlock {
    background-color: gold;
    position: absolute;
    border: 3px solid goldenrod;
    width: 90%;
    height: 10%;
    left: 5%;
    top: 1%;
}

.NameCard {
    background-image: url("./Images/BG/Bg_Name.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    min-height: 10px;
    height: 13%;
    left: 0%;
    top: 0%;
}
    .NameCard p {
        color: white;
        font-size: 50px;
        font-weight: 700;
        position: relative;
        top: -75%;
        left: 5%;
    }

#NameCard {
    top: 5%;
    width: 100%;
}
    #NameCard p {
        top: -70%;
    }

#NameCard_Title {
    max-width: 50%;
    position: absolute;
    float: right;
    color: aqua;
    font-size: 2em;
    font-weight: 700;
    margin-top: 5.5%;
    margin-left: 37%;
}

.Info_NameCard {
    background-image: url("./Images/BG/Bg_Name.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 200vh;
    min-height: 10vh;
    height: 20vh;
    padding-top: 1vh;
    left: 0%;
    top: 1vh;
}
    .Info_NameCard p {
        position: absolute;
        color: white;
        font-size: 3em;
        font-weight: 700;
        margin-left: 5vw;
        margin-top: -2vh;
        max-width: 70%;
        height: 10vh;
    }

.Info_Page_Blurb {
    padding: 10px;
    padding-top: 7%;
    padding-left: 5%;
    margin: 30px;
    position: absolute;
}

    .Info_Page_Blurb p {
        background-color: black;
        border: 5px solid rgb(30,30,30);
        padding: 30px;
        border-radius: 10px;
    }

    .Info_Page_Blurb h1 {
        background-color: black;
        border: 5px solid rgb(30,30,30);
        padding: 5px;
        border-radius: 10px;
    }

.Games_Info_Page {
    float: left;
    width: 100%;
    height: 200vh;
    background-image: url("Images/BG/Games/Bg_Games.png");
    overflow-x: hidden;
}
.Combo_Info_Page {
    background-image: url("Images/BG/Bg_Combo.png");
    width: 100vw;
    height: 400vh;
    overflow-x: hidden;
}
.FullStack_Info_Page {
    background-image: url("Images/BG/Web/Bg_Web.png");
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.Fullstack_Block_3 {
    float: left;
    width: 100%;
    min-height: 700px;
    background-color: darkgreen;
    position: relative;
    background-image: url("./Images/BG/Web/Bg_Web.png");
    overflow-x: hidden;
}
.Combo_Block_3 {
    float: left;
    width: 100%;
    min-height: 700px;
    background-color: teal;
    position: relative;
    right: 30%;
    background-image: url("./Images/BG/Bg_Combo3.png");
}
.Unity_Block_3 {
    float: left;
    width: 100%;
    min-height: 700px;
    background-color: blue;
    position: relative;
    right: 40%;
    background-image: url("./Images/BG/Games/Bg_Games.png");
}

.Fullstack_Block_2 {
    float: left;
    width: 100%;
    min-height: 700px;
    background-color: darkgreen;
    position: relative;
    background-image: url("./Images/BG/Web/Bg_Web.png");
    overflow-x: hidden;
}
.Unity_Block_2 {
    float: left;
    width: 100%;
    min-height: 700px;
    background-color: blue;
    position: relative;
    right: 50%;
    background-image: url("./Images/BG/Games/Bg_Games.png");
}

.Unity_Col {
    float: left;
    width: 30%;
    position: relative;
    left: 70%;
    color: deepskyblue;
}
    .Unity_Col p {
        color: deepskyblue;
    }

.Combo_Col {
    float: left;
    width: 40%;
    position: relative;
    left: 70%;
}
    .Combo_Col p {
        color: aqua;
    }

.Fullstack_Col {
    float: left;
    width: 30%;
    position: relative;
    left: 70%;
}
    .Fullstack_Col p {
        color: lightgreen;
    }

.Summary_Block {
    background-color: rgb(0, 255, 255);
    float: left;
    width: 100%;
}
.Summary_Block .Unity_Block{
    width: 33.3%;
}
.Summary_Block .Combo_Block{
    width: 33.4%;
}
.Summary_Block .Fullstack_Block{
    width: 33.3%;
}

.Blurb {
    padding: 10px;
    padding-top: 30%;
    padding-left: 5%;
}
    .Blurb p {
        background-color: black;
        border: 5px solid rgb(30,30,30);
        padding: 5px;
        border-radius: 10px;
    }
    .Blurb h1 {
        background-color: black;
        border: 5px solid rgb(30,30,30);
        padding: 5px;
        border-radius: 10px;
    }

#BioBlurb {
    position: relative;
    top: -50px;
}
#YearsBlurb {
    position: relative;
    top: 200px;
}

#Peeka_Experience_BlurbTitle {
    position: relative;
    width: 100%;
    left: -70%;
    top: -50px;
    color: deepskyblue;
}

#HCL_Experience_BlurbTitle {
    position: relative;
    width: 100%;
    right: -50%;
    top: -50px;
    color: lightgreen;
}

#AIE_Education_BlurbTitle {
    position: relative;
    width: 100%;
    left: -70%;
    top: -50px;
    color: deepskyblue;
}

#HCL_Education_BlurbTitle {
    position: relative;
    width: 50%;
    right: -110%;
    top: -50px;
    color: lightgreen;
}

#AIE_Blurb {
    position: relative;
    width: 150%;
    left: -60%;
    color: deepskyblue;
}

#HCL_Blurb {
    position: relative;
    width: 130%;
    right: -20%;
    top: 45px;
    color: lightgreen;
}