.HireMeDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 20vh;
}

.ColumnBlock {
    position: relative;
    top: 0px;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20vh;
}

.TitleBlock {
    background-color: gold;
    position: relative;
    border: 3px solid goldenrod;
    width: 90%;
    left: 5%;
    top: 1%;
}

.NameCard {
    background-color: #222222ff;
    background-image: url("./Images/BG/Bg_Name.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    min-height: 10px;
}
    .NameCard p {
        color: white;
        font-size: 50px;
        font-weight: 700;
        position: relative;
        left: 1%;
        border: 4px solid white;
    }

#NameCard {
    width: 100%;
}

#NameCard_Title {
    max-width: 50%;
    float: left;
    color: aqua;
    font-weight: 700;
    margin-top: -4%;
}

.Info_NameCard {
    background-color: #222222ff;
    background-repeat: no-repeat;
    min-height: 10px;
    height: 100px;
    position: relative;
}
    .Info_NameCard p {
        color: white;
        font-size: 50px;
        font-weight: 700;
        left: 5%;
    }


.BlurbTitle_2 {
    width: 90%;
}

.BlurbText_2 {
    margin-top: 0px;
    width: 100%;
}

.BlurbTitle_3 {
    left: 10px;
    width: 90%;
    font-size: 25px;
}

.BlurbText_3 {
    width: 100%;
}


.Fullstack_Block_3 {
    float: left;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: darkgreen;
    position: absolute;
    background-image: url("./Images/BG/Web/Bg_Web.png");
    overflow-x: hidden;
}
.Combo_Block_3 {
    float: left;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: teal;
    position: absolute;
    right: 30%;
    background-image: url("./Images/BG/Bg_Combo3.png");
}
.Unity_Block_3 {
    float: left;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: blue;
    position: absolute;
    right: 40%;
    background-image: url("./Images/BG/Games/Bg_Games.png");
}

.Fullstack_Block_2 {
    float: left;
    width: 100%;
    min-height: 100vh;
    background-color: darkgreen;
    position: relative;
    background-image: url("./Images/BG/Web/Bg_Web.png");
    overflow-x: hidden;
}
.Unity_Block_2 {
    float: left;
    width: 100%;
    min-height: 100vh;
    background-color: blue;
    position: relative;
    right: 50%;
    background-image: url("./Images/BG/Games/Bg_Games.png");
}

.Unity_Col {
    width: 30%;
    height: 100%;
    position: relative;
    color: deepskyblue;
    display: flex;
    flex-direction: column;
    background-image: url("./Images/BG/Games/Bg_Games.png");
    padding-bottom: 20vh;
}
    .Unity_Col p,
    .Unity_Col h1 {
        color: deepskyblue;
    }

.Combo_Col {
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("./Images/BG/Bg_Combo3.png");
    padding-bottom: 20vh;
}
    .Combo_Col p,
    .Combo_Col h1 {
        color: aqua;
    }

.Fullstack_Col {
    bottom: 0px;
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("./Images/BG/Web/Bg_Web.png");
    padding-bottom: 20vh;
}
    .Fullstack_Col p,
    .Fullstack_Col h1 {
        color: lightgreen;
    }


.Blurb {
    position: relative;
    width: 80%;
    left: 7.5%;
    margin-top: 20%;
    padding: 10px;
    background-color: black;
    border: 5px solid rgb(30,30,30);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
    .Blurb p {
        margin-top: 0px;
    }
    .Blurb h1 {
        margin-top: 0px;
    }